@import "../vars.css";

.container {
  position: relative;
  /* background-color: rgba(12, 12, 12, 0.6); */
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

textarea, input:not([type= submit]){
    height: 50px;
    padding-left: 16px;
    width: 280px;
}

textarea{
    padding-top: 16px;
    resize: none;
    height: 250px;
}

input, textarea{
    border-radius: 20px;
    border: #888 1px solid;
    box-sizing: border-box;
    justify-self: center;
    background-color: var(--color-bg);
    color: var(--color-text);
}

::placeholder{
    color: var(--color-text);
}

input[type= 'submit']{
    background-color: var(--color-text);
    color: #fff;
    border: none;
    border-radius: 100px;
    width: 126px;
    height: 50px;
    font-size: 25px;
    font-weight: 400;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    margin: auto;
}

input[type= 'submit']:hover{
    transform: scale(1.05);
}

input[type= 'submit']:active{
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}


ul{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.social h2{
    margin-top: 20px;
    color: var(--color-text);
}

p{
  font-size: 20px;
  color: var(--color-text);
  font-weight: 200;
}

a{
  font-size: 30px;
  color: var(--color-text);
}
@media (width >= 830px) {
  textarea,
  input:not([type='submit']) {
    width: 400px;
    font-size: 20px;
  }
  form {
    gap: 40px;
  }
}